body {

     h1 {
        font-size: 2.5em !important; /* 40px/16=2.5em */
        img {
            height: 32px;
            width: auto;
        }
    }

    h2 {
        font-size: 2em !important; /* 30px/16=1.875em */
    }

    h3 {
        font-size: 1.4em !important;
    }

    h4 {
        font-size: 1.2em !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: 0.85em !important;
        font-weight: bolder !important;
    }
    
.cards {
        table.dataview {
            width: var(--table-width);
        }
        th,
        td {
            border: none !important;
            flex-wrap: wrap;
            gap: 5px;

            a.tag {
                padding: 3px !important;
            }
        }
        table.dataview.table-view-table {
            thead.table-view-thead {
                display: none;

                &::before {
                    display: none;
                }
            }
            tbody {
                tr {
                    position: relative;
                    td {
                        img.inset-cover {
                            height: 70px;
                            width: auto;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .cards-cover-no-border {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:first-child {
                        width: 100%;
                        img {
                            padding: 0;
                        }
                    }
                    td:nth-child(2) {
                        min-height: 70px;
                    }

                    td {
                        svg {
                            width: 14px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .cards-title-hide-icons {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:nth-child(2),
                    td:first-child {
                        a::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: unset;
    }
        
.fnote {
        display: none;
        background-color: var(--background-primary);
        border: 1px solid var(--text-accent);
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        z-index: 999;
    }

    .footnote-ref {
        line-height: 85%;

        .fnote-marker {
            background-color: var(--text-accent);
            padding: 2px 5px;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            font-size: 0.7em;
            margin-top: -3px;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .shownote {
        display: block;
    }
        
}
