@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {

     --content-font-size: 1.4rem;
    .timestamps {
        margin-top: 10px;
    }
    .backlink-list {
        max-height: unset;
    }
    .content {
        max-width: 900px;
        font-size: var(--content-font-size);
        --font-text-size: 1.5rem;
    }
    @media (min-width: 800px) {
        .content {
            padding-right: 90px;
        }
    }
    @media (min-width: 1500px) {
        .content.note-gallery {
            max-width: 1200px;
        }
    }

     
     h1 {
        font-size: 2.2em !important; /* 40px/16=2.5em */
    }

    h2 {
        font-size: 1.7em !important; /* 30px/16=1.875em */
    }

    h3 {
        font-size: 1.2em !important;
    }

    h4 {
        font-size: 1.1em !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: 0.85em !important;
        font-weight: bolder !important;
    }
    
.cards {
        table.dataview {
            width: var(--table-width);
        }
        th,
        td {
            border: none !important;
            flex-wrap: wrap;
            gap: 5px;

            a.tag {
                padding: 3px !important;
            }
        }
        table.dataview.table-view-table {
            thead.table-view-thead {
                display: none;

                &::before {
                    display: none;
                }
            }
            tbody {
                tr {
                    position: relative;
                    td {
                        img.inset-cover {
                            height: 70px;
                            width: auto;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 0;
                             font-size: 1.4em !important;
                             
                        }
                    }
                }
            }
        }
    }

    .cards-cover-no-border {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:first-child {
                        width: 100%;
                        img {
                            padding: 0;
                        }
                    }
                    td:nth-child(2) {
                        min-height: 70px;
                    }

                    td {
                        svg {
                            width: 14px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .cards-title-hide-icons {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:nth-child(2),
                    td:first-child {
                        a::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: unset;
    }
 
}
